/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*ALLS*/
.main__schedule{
    max-width: 910px;
}
.container{
    max-width: 1212px;
    margin: 0 auto;
}
.main__top{
    display: flex;
    align-items: center;
    padding: 10px;
    border: #000 solid 1px;
    margin-bottom: 10px;
}
#week__content{
    width: 100%;
}
.dots{
    height: 2px;
    width: 2px;
    background-color: #1E1E1E;
    border-radius: 2px;
}
.time{
    font-family:inherit;
    font-size: 13px;
    text-align: center;
}
.time__section{
    display: flex;
    align-items: start;
    min-height: 150px;
    width: 100%;
}
.time__content{
    width: 100%;
    display: flex;
    
    justify-content: space-between;
}
.time-colm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time-dots{
    padding: 15px 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 137px;
}
.block__cover{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 137px;
    background-color: #6bf32c;
    width: 155px;
    margin: 5px;
}
.block{
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 15px;
    background: #f1f1f1;
    width: 100%;
    min-height: 135px;
    margin: 1px;
    padding: 15px 10px;
}
.block p{
    font-size: 13px;
}
.block p:nth-child(2){
    font-weight: 600;
}
#text{
    display: block;
}